
#firstbg {
    background-image: url('Object.png');
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
}
li {
    list-style: none;
    display: inline-block;
    margin-right: 50px; 
}
li a {
    color: white;
    text-decoration: none;
    margin-right: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
}


h1 {
    font-size: 120px;
    font-weight: bold;
    margin: 0;
}


#sgl {
    margin-top: -90px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
#sgl span {
    margin-left: 50px;
}


#Purplecontainer {
    background-color: #C271FF;
    border-radius: 50px;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}
#Purplecontainer button {
    all: unset;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}


#learn {
    color: #C271FF;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}
#ftp {
    color: white;
    font-weight: lighter;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}
#lftp {
    margin-top: 200px;
}


#enephilip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
}
#squarecont {
    border-radius: 50%;
}

#purbg {
    background-color: #C271FF;
    display: flex;
    padding: 100px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
#img {
    margin-left: 200px;
    margin-right: 50px;
}
#purbg blockquote {
    font-size: larger;
    margin-left: 50px;
}
#name, #p {
    margin-left: 50px;
}


#bgw {
    background-color: white;
    display: flex;
    padding: 100px;
    text-align: center;
}
#mpt {
    text-align: center;
    padding-top: 20px;
}
#mpt span {
    color: #C271FF;
    font-weight: bold;
}
.para {
    color: gray;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    text-align: left;
    margin: 0 auto;
    padding-left: 100px;
}


.phi {
    display: flex;
    color: #C271FF;  
}
.phi img {
    width: 10%;
    height: 10%;
    padding-right: 20px;
    padding-left: 100px;
}
.stars-container {
    display: flex;
    justify-content: center;
    color: #C271FF;
    align-items: center;
}
.gray {
    color: #979797;
    padding-right: 50px;
}
#free {
    color: #C271FF;
}


#blueblackbg {
    background-color: #071629;
    color: white;
    text-align: center;
}
#blueblackbg #lor {
    display: flex;
    background-color: #071629;
    padding: 100px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
#blueblackbg p {
    padding-inline: 80px;
}
#blueblackbg #fm {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    padding-top: 40px;
}


#regcon {
    background-color: #C271FF;
    border-radius: 50px;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}
#regcon button {
    all: unset;
}


#faq {
    text-align: center;
    font-size: 50px;
}
#first, #second {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 100px;
}
#first div, #second div {
    max-width: 500px;
    margin: 20px;
}
#first div p, #second div p {
    color: #979797;
}
#first div h3, #second div h3 {
    color: white;
}


footer {
    background-color: #071629;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
footer section div {
    display: flex;
    gap: 20px;
}
footer section p {
    margin-left: auto;
}
#socials {
    display: flex;
    gap: 20px;
    align-items: center;
}
